
<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2>Detail <%=title%></h2>

   
      <a href="<%=blog.id%>" name='id'>  <h3 class="title"><%= blog.title %></h3><br>
        <p class="snippet"><%= blog.snippet %></p>
      </a>

        <p class="body"><%= blog.body %></p>

<div class='nav'>
  <button class="update btn vertical" data-doc="<%=blog._id%>">
    <i class="btnIcon fa fa-edit"></i>
    <span>UPDATE</span>

  </button>
  <button class="delete btn horizontal" data-doc="<%= blog._id %>">
    <i class="btnIcon fa fa-trash"></i>
    <span>DELETE</span>
  </button>





</div>
</div>

      
  
  <%- include("./partials/footer.ejs") %>
  <script>
  const trashcan=document.querySelector('button.delete');

  const updateCan=document.querySelector('button.update');
trashcan.addEventListener('click',(e)=>{
    console.log('clicked');
  const endpoint=`/blogs/${trashcan.dataset.doc}`;
  fetch(endpoint,{method:'DELETE'})
  /*.then((response)=>{response.json()})
  .then((data)=>{console.log(data);window.location.href=data.redirect})
  .catch(err=>console.log(err));*/.then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
  

})
updateCan.addEventListener('click',(e)=>{
    console.log('clicked');
  
  const endpoint=`/blogs/update/${updateCan.dataset.doc}`;
  window.location.href=endpoint;
/*fetch(endpoint,{method:'GET'})
  /*.then((response)=>{response.json()})
  .then((data)=>{console.log(data);window.location.href=data.redirect})
  .catch(err=>console.log(err));.then(response => response.json())
      .then(data =>{console.log(data.blog);} )
      .catch(err => console.log(err));
  */

})
</script>

</body>
</html>